<div id="userList" ng-init="buttonFilter = ''">
	<header class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li ng-class="buttonFilter === '' ? 'active' : 'inactive'"><a href="" ng-click="buttonFilter = ''">All</a></li>
			<li ng-class="buttonFilter.isStreaming ? 'active' : 'inactive'"><a href="" ng-click="buttonFilter = {isStreaming: true}">Online</a></li>
			<li ng-class="buttonFilter.isStreaming === false ? 'active' : 'inactive'"><a href="" ng-click="buttonFilter = {isStreaming: false}">Offline</a></li>
		</ul>
	</header>
	<div class="search">
		<i class="fa fa-search" id="searchIcon"></i>
		<input type="search" class="form-control" placeholder="search" ng-model="searchFilter"></input>
	</div>
	<ul id="users">
		<li ng-repeat="user in users | orderBy: 'name' | filter: buttonFilter | filter: searchFilter ">
			<a ng-href="#/{{user.name}}">
			
				<div class="row" ng-show="user.name">
					<img class="col-xs-4 img-circle" ng-src="{{user.logo}}">
					<span class="name">{{user.name}}</span><span class="streamIcon"><i class="fa" ng-class="{'fa-twitch isStreaming': user.isStreaming, 'fa-times isNotStreaming': !user.isStreaming}"></i></span>
				</div>

			</a>
			<div ng-show="user.error">
				<div class="error" >{{user.error}}</div>
			</div>


		
		</li>
	</ul>
</div>


