<div id="userPage">
	<header>
		<a href="#/">Back</a>
	</header>
	<div class="container">
			
		
		<a ng-href="{{currentUserData.url}}" target="_blank"><h1 class="username">{{currentUserData.name}}</h1><img ng-src="{{currentUserData.logo}}" alt="User's logo"></a>
		<p class="bio">{{currentUserData.bio}}</p>

		<h3 ng-show="currentUserData.isStreaming">Currently streaming {{currentUserData.game ? currentUserData.game : "something!"}}</h3>
		<a ng-href="{{currentUserData.url}}" target="_blank" ng-show="currentUserData.isStreaming">
			<img ng-src="{{currentUserData.preview.large}}" alt="Preview of user's stream">
		</a>

	</div>
</div>
<!--




name: userData.name,
logo: userData.logo ||"http://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_150x150.png",
bio:  userData.bio || "user has not written a bio",
url:  "https://twitch.tv/" + userData.name,
isStreaming: streamData.stream ? true : false,
game:  streamData.stream ? streamData.stream.game : "null",
preview: streamData.stream ? streamData.stream.preview : "null"



-->