/* Color declarations
================================ */

$goGreen					:	#05B245;
$errorRed					:	#B20800;


/* Color assingments
================================ */

$isStreaming				:	$goGreen;
$isNotStreaming				:	$errorRed;